{% extends 'base.html.twig' %}

{% block body_id 'user_edit' %}

    {% block main %}

        <h1>{{ 'title.edit_user'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
        {{ form_end(form) }}

    {% endblock %}

    {% block sidebar %}

        <div class="section">
            <a href="" class="btn btn-lg btn-block btn-primary">
                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
            </a>
        </div>
        <div class="section actions">
            {{ include('user/_delete_form.html.twig', {user: user}, with_context = false) }}
        </div>

        {{ parent() }}

    {% endblock %}
